openapi: 3.0.3

info:
  title: Сервис блокировки платежей юридических лиц API
  version: 1.0.0

paths:
  /clients/{client_id}/block:
    post:
      tags:
        - clientPaymentsBlock
      summary: Заблокировать платежи клиента
      description: Метод для блокировки платежей клиента
      operationId: blockProfile
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/X-Idempotency-Key'
        - $ref: '#/components/parameters/Client-Id'
        
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              $ref: '#/components/schemas/BlockProfile'
              
      responses:
        204:
          description: OK 
        401:
          $ref: '#/components/responses/Error'
        404:
          $ref: '#/components/responses/Error'
            
  /clients/{client_id}/unblock:
    post:
      tags:
        - clientPaymentsUnblock
      summary: Разблокировать платежи клиента
      description: Метод для разблокировки платежей клиента
      operationId: unblockProfile
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/X-Idempotency-Key'
        - $ref: '#/components/parameters/Client-Id'

      responses:
        204:
          description: OK 
        401:
          $ref: '#/components/responses/Error'
        404:
          $ref: '#/components/responses/Error'

  /clients/{client_id}/block_status:
    get:
      tags:
        - getBlockStatus
      summary: Получить статус блокировки клиента
      description: Метод для получения статуса блокировки клиента
      operationId: blockStatusProfile
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Client-Id'

      responses:
        200:
          description: Текущий статус блокировки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockStatus'
        401:
          $ref: '#/components/responses/Error'
        404:
          $ref: '#/components/responses/Error'
          
security:
  - bearerAuth: []  
  
components:

  securitySchemes:
  
    bearerAuth: 
      type: http 
      scheme: bearer 
      bearerFormat: JWT
    
  parameters:
    
    X-Idempotency-Key:
      name: X-Idempotency-Key
      in: header
      required: true
      description: Ключ идемпотентности
      schema:
        type: string
    
    Client-Id:   
      name: client_id
      in: path
      required: true
      description: UUID клиента
      schema:
        type: string
        format: uuid
  
  responses:
  
    Error:
      description: Error 
      content: 
        application/json: 
          schema: 
            $ref: '#/components/schemas/ErrorResponse'
                
  schemas:
    
    BlockStatus:
      type: object
      properties:
        block_type:
          type: number
          nullable: false
          description: Тип блокировки (block_type_id)
        blocked_at:
          type: string
          format: date-time
          nullable: false
          description: Дата и время блокировки.
    
    BlockProfile:
      type: object
      properties:
        block_type:
          type: string
          description: Тип блокировки
        comment:
          type: string
          description: Комментарий к блокировке
    
    ErrorResponse: 
      description: Ответ сервера с ошибкой 
      type: object 
      required: 
        - errorId 
        - errorCode 
        - errorMessage 
      properties: 
        errorId: 
          description: Идентификатор ошибки
          type: string 
          minLength: 16 
          maxLength: 16 
          example: 02d58bace05e461f0 
        errorCode: 
          description: Код ошибки сервиса 
          type: string 
          minLength: 1 
          maxLength: 12 
          example: InsufficientPrivileges 
        errorMessage: 
          description: Сообщение ошибки сервиса 
          type: string 
          minLength: 1 
          example: Internal Server Error 
        errorDetails: 
          description: Детали ошибки
          type: object
